nav {
    background-color: #E8E1EF;
    padding: 1% 3% 1% 1%;
    justify-content: space-between;
    display: flex;
}

.logo {
    cursor: pointer;
}

.detailSalle {
    font-weight: bold;
    text-transform: uppercase;
}
.rating,.barre {
    display: flex;
    align-items: center;
}
/* version mobile */
@media screen and (max-width:800px) {
    .connexionMobile {
        display: inline;
        width: 50px;
    }

    .btnConnexion {
        display: none;
    }

    .nomSite {
        display: none;
    }

    .logo {
        width: 80px;
    }

    .detailSalle {
        text-align: center;
    }

    .nav {
        height: 10vh;

    }
    .rating {
        display: block;
        align-items: center;
    }
}

/*version pc */
@media screen and (min-width:800px) {
    .identification {
        display: flex;
    }

    .nomSite {
        color: #000;
        font-size: 2em;
        font-family: kenia;
        width: 100px;
        align-self: center;

    }

    .btnConnexion {
        background-color: #D56062;
        width: auto;
        padding: 10px 40px;
        align-self: center;
    }

    .detailSalle {
        margin-right: 10px;
    }

    .connexion {
        display: flex;
        align-items: center;
    }



    .connexionMobile {
        display: none;
    }

    .nav {
        height: 15vh;
    }

}