.concertContainer{
    background-color: #D9D9D9;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;

    font-size: 20px;
    font-weight: 700;
    min-width: 150px;
    min-height: 200px;
    margin:  10px;  
    /* padding: 20px; */

}
.ContainerListeConcerts{
    display: flex;
    overflow-x: auto; 
}